# Proyecto Modulo 3

<a href="https://colab.research.google.com/github/ArturoG1z/Proyecto-Modulo-3-CyAD/blob/main/Notebook/proyecto_modulo_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

***PENDIENTE:*** Agregar descripción pequeña del problema del dataset y del objetivo

In [1]:
import pandas as pd
# ruta = '/content/drive/MyDrive/Colab Notebooks/PROYECTO/data set con color.xlsx'
ruta = './data set Proyecto.xlsx'
df_original = pd.read_excel(ruta)

In [2]:
df_original.head()

,Unnamed: 0,carrera,No.,Asesor,Comunidad,Espacio_Académico,Bloque,Grupo,alumnos,1er_P_Ponderación-semanas,...,Porcentaje-Eficiencia-Terminal,Aprobados,correos_enviados,correos_recibidos,Aprobados ordinario,Aprobados extraordinario,Aprobados título,Asesoría académica Respondidas/Recibidas,Histórico de chat personal,Histórico de socializa por comunidad
0,1,Lic_Mate2,1,NaN,69142 Inglés 8 / D2,Ubicación 10,0,O5,35,100\4,...,0,0,NaN,1.0,0,0,0,0\0,0,0
1,2,Lic_Mate2,2,NaN,69133 Inglés 6 / C2,Ubicación 10,0,OB,25,60\6,...,0,0,NaN,NaN,0,0,0,0\0,0,0
2,3,Lic_Mate2,3,NaN,69143 Inglés 8 / D2,Ubicación 10,0,O6,23,60\6,...,0,0,NaN,NaN,0,0,0,0\0,0,0
3,4,Lic_Mate2,4,NaN,69132 Inglés 6 / C2,Ubicación 10,0,OA,37,100\5,...,0,0,NaN,NaN,0,0,0,0\0,0,0
4,5,Lic_Mate1,1,NaN,68487 Inglés 8 / D2,Ubicación 4,0,D4,50,9\9,...,0,0,NaN,NaN,0,0,0,0\0,0,0

In [3]:
df_original.shape

(747, 39)

## Limpieza de los datos

In [4]:
# remove last 6 columns and first column
df_original = df_original.iloc[:, :-6]
df_original = df_original.iloc[:, 1:]

In [5]:
columnas = [
  'carrera',
  'No.',
  'Asesor', # se quita
  'Comunidad',
  'Espacio_Académico',
  'Bloque', # se quita
  'Grupo', # se quita
  'alumnos',
  '1er_P_Ponderación-semanas',
  '1p_total_actividades_asignadas',
  '1p_total_actividades_evaluativas',
  '1p_porcentaje_evidencias_calificadas',
  '1p_total_actividades_calificadas',
  '1p_total_actividades_entregadas',
  '1p_porcentaje_evidencias_calificadas_tiempo',
  '1p_total_actividades_calificadas_tiempo',
  '1p_porcentaje_aprobados',
  '2oP_Ponderación-semanas',
  '2p_total_actividades_asignadas',
  '2p_total_actividades_evaluativas',
  '2p_porcentaje_evidencias_calificadas',
  '2p_total_actividades_calificadas',
  '2p_total_actividades_entregadas',
  '2p_porcentaje_evidencias_calificadas_tiempo',
  '2p_total_actividades_calificadas_tiempo',
  '2p_porcentaje_aprobados',
  'total_actividades_calificadas',
  'trabajos_por_calificar',
  'Porcentaje-Eficiencia-Terminal', # se quita
  'Aprobados',
  'correos_enviados',
  'correos_recibidos',
]

quitar = [
  'Asesor',
  'Bloque',
  'Grupo',
  'Porcentaje-Eficiencia-Terminal',
]

#print(columnas)
df = df_original.drop(quitar, axis=1)

# Eliminando el ID de la materia en la columna 'Comunidad'
df['Comunidad'] = df['Comunidad'].str[5:]

In [6]:
df.head()

,carrera,No.,Comunidad,Espacio_Académico,alumnos,1er_P_Ponderación-semanas,1p_total_actividades_asignadas,1p_total_actividades_evaluativas,1p_porcentaje_evidencias_calificadas,1p_total_actividades_calificadas,...,2p_total_actividades_calificadas,2p_total_actividades_entregadas,2p_porcentaje_evidencias_calificadas_tiempo,2p_total_actividades_calificadas_tiempo,2p_porcentaje_aprobados,total_actividades_calificadas,trabajos_por_calificar,Aprobados,correos_enviados,correos_recibidos
0,Lic_Mate2,1,Inglés 8 / D2,Ubicación 10,35,100\4,17,17,1.0,583,...,617,617,0.998,616,97,1200,0,0,NaN,1.0
1,Lic_Mate2,2,Inglés 6 / C2,Ubicación 10,25,60\6,18,18,1.0,438,...,452,452,1.000,452,0,890,0,0,NaN,NaN
2,Lic_Mate2,3,Inglés 8 / D2,Ubicación 10,23,60\6,19,19,1.0,402,...,380,380,1.000,380,0,782,0,0,NaN,NaN
3,Lic_Mate2,4,Inglés 6 / C2,Ubicación 10,37,100\5,24,22,1.0,712,...,555,555,0.829,460,81,1267,0,0,NaN,NaN
4,Lic_Mate1,1,Inglés 8 / D2,Ubicación 4,50,9\9,19,18,1.0,770,...,765,765,1.000,765,0,1535,0,0,NaN,NaN

In [7]:
# Separando la columna 1er_P_Ponderación-semanas en : 1erPonderacion Semana_1erP splited by '\' and convert to int
df['1erPonderacion'] = df['1er_P_Ponderación-semanas'].str.split('\\').str[0].astype(int)
df = df.drop('1er_P_Ponderación-semanas', axis=1)

# Separando la columna 2oP_Ponderación-semanas
df['2oPonderacion'] = df['2oP_Ponderación-semanas'].str.split('\\').str[0].astype(int)
df = df.drop('2oP_Ponderación-semanas', axis=1)

# Reemplaza los valores NaN por 0
df.fillna(0, inplace=True)


df.tail()
#df.shape

,carrera,No.,Comunidad,Espacio_Académico,alumnos,1p_total_actividades_asignadas,1p_total_actividades_evaluativas,1p_porcentaje_evidencias_calificadas,1p_total_actividades_calificadas,1p_total_actividades_entregadas,...,2p_porcentaje_evidencias_calificadas_tiempo,2p_total_actividades_calificadas_tiempo,2p_porcentaje_aprobados,total_actividades_calificadas,trabajos_por_calificar,Aprobados,correos_enviados,correos_recibidos,1erPonderacion,2oPonderacion
742,Lic_CS3,3,Metodología de la ciencia,Ubicación 14,35,15,9,1.000,267,267,...,0.887,181,84,495,1,0,3.0,5.0,100,100
743,Lic_CS3,4,Metodología de la ciencia,Ubicación 14,34,12,9,1.000,273,273,...,0.282,60,0,496,0,0,1.0,11.0,10,10
744,Lic_CS3,5,Demografía,Ubicación 14,47,14,12,1.000,448,448,...,0.899,391,100,883,0,0,16.0,2.0,100,100
745,Lic_CS3,6,Metodología de la ciencia,Ubicación 14,31,14,11,1.000,309,309,...,0.910,222,76,556,1,0,0.0,1.0,100,100
746,Lic_CS3,7,Investigación cuantitativa,Ubicación 14,47,10,7,0.997,285,286,...,0.000,0,0,285,43,0,0.0,1.0,100,100

In [9]:

# Cuenta cuántos 0 hay en la columna
numero_ceros_1er = df['1p_porcentaje_aprobados'].value_counts()[0]
numero_ceros_2do = df['2p_porcentaje_aprobados'].value_counts()[0]

# Imprime el número de 0
print(numero_ceros_1er)

# Imprime el número de 0
print(numero_ceros_2do)

360
362

In [10]:
# Split df into categorical df and numerical df, Exclude column 'No.' from numerical_df and put it in categorical_df 
no_column = df['No.']
categorical_df = df.select_dtypes(include=['object'])
categorical_df['No.'] = no_column
numerical_df = df.select_dtypes(exclude=['object']).drop('No.', axis=1)

In [11]:
numerical_df.head()

,alumnos,1p_total_actividades_asignadas,1p_total_actividades_evaluativas,1p_porcentaje_evidencias_calificadas,1p_total_actividades_calificadas,1p_total_actividades_entregadas,1p_porcentaje_evidencias_calificadas_tiempo,1p_total_actividades_calificadas_tiempo,1p_porcentaje_aprobados,2p_total_actividades_asignadas,...,2p_porcentaje_evidencias_calificadas_tiempo,2p_total_actividades_calificadas_tiempo,2p_porcentaje_aprobados,total_actividades_calificadas,trabajos_por_calificar,Aprobados,correos_enviados,correos_recibidos,1erPonderacion,2oPonderacion
0,35,17,17,1.0,583,583,0.938,547,91,19,...,0.998,616,97,1200,0,0,0.0,1.0,100,100
1,25,18,18,1.0,438,438,0.998,437,0,19,...,1.000,452,0,890,0,0,0.0,0.0,60,60
2,23,19,19,1.0,402,402,1.000,402,0,20,...,1.000,380,0,782,0,0,0.0,0.0,60,60
3,37,24,22,1.0,712,712,0.754,537,86,20,...,0.829,460,81,1267,0,0,0.0,0.0,100,100
4,50,19,18,1.0,770,770,1.000,770,0,21,...,1.000,765,0,1535,0,0,0.0,0.0,9,10

In [12]:
# get how many 1er P_Actividades asignadas are diferent than 1er P_Actividades evaluativas
diferent_values = (numerical_df['1p_total_actividades_asignadas'] != numerical_df['1p_total_actividades_evaluativas']).sum()
print(diferent_values)

# total de actividades asignadas = Alumnos * 1er P_Actividades asignadas
total_actividades_asignadas = numerical_df['alumnos'] * numerical_df['1p_total_actividades_asignadas']

172

0      595
1      450
2      437
3      888
4      950
      ...
742    525
743    408
744    658
745    434
746    470
Length: 747, dtype: int64